<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="id.jsu.suntiq">

  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <application
    android:name=".CustomApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.JSU"
    tools:ignore="AllowBackup">
    <activity
      android:name=".ui.home.HomeActivity"
      android:label="@string/app_name"
      android:theme="@style/Theme.JSU"
      android:windowSoftInputMode="adjustNothing">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.provider"
      android:enabled="true"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/provider_paths" />
    </provider>
    <provider
      android:name=".utils.PhotoProvider"
      android:authorities="${applicationId}.PhotoProvider"
      android:exported="false"
      android:grantUriPermissions="true" />

    <activity
      android:name="com.yalantis.ucrop.UCropActivity"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

    <activity android:name=".ui.MainActivity" />
    <activity android:name=".ui.home.cancel.CancelActivity" />
    <activity android:name=".ui.home.delivery.photo.DeliveryPhotoActivity" />
    <activity android:name=".ui.home.map.MapActivity" />
    <activity android:name=".ui.home.delivery.DeliveryActivity" />
    <activity android:name=".ui.home.duty.DutyLetterActivity" />
    <activity android:name=".ui.home.confirmation.ConfirmationVehicleActivity" />
    <activity android:name=".ui.intro.register.verify.VerifyRegisterActivity" />
  </application>

</manifest>